@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	text-decoration: none;
	box-sizing: border-box;
}
body{
	background-image: url(../images/straws.png)
}
.top{
	height: 80px;
	position: fixed;
	background-color: white;
	width: 100%;
	line-height: 80px;
}
button{
	float: right;
	width: 60px;
	height: 60px;
	position: relative;
	top:10px;
	left: -10px;
	
}
